<h1>Foods#show</h1>
<section class = "">
   <div class="">
      <h2>Food Information</h2>
      <p>Food Name: <strong><%= @food.name%></strong></p>
      <p>Measurment_Unit: <strong><%=  @food.measurement_unit%></strong></p>
      <p>Quantity: <strong><%= @food.quantity%></strong></p>
      <p>Unit_Price: <strong><%=@food.price %></strong></p>
   </div>
</section>