table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    font-family: cursive;
  }

  .table {
    margin-top: 70px;
  }
  td,
  th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }

  .recipe_buttons {
    margin-top: 70px;
    display: flex;
    gap: 100px;
  }
  
  td {
    padding: 2rem;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
  
  section h1 {
    text-align: center;
  }
  
  .button {
    border: none;
    background-color: rgb(5, 6, 7);
    padding: 10px 12px;
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button a {
    text-decoration: none;
    color: #fff;
  }
  
  .container {
    display: flex;
  }
  
  .delete {
    color: #fff;
    background-color: #946b6f;
    padding: 10px 12px;
    border-radius: 1rem;
    text-decoration: none;
  }
  
  .delete:hover {
    color: white;
  }
  
  .box {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  
  .box1 {
    width: 50%;
  }
  
  .box2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }